@import '_variables.scss';
@import '_mixins.scss';

body{
    background-color: $color-background;
    display: flex;
}

button, a{
    cursor: pointer;
}

option, form{
    font-family: "SpartanBold";
}

.main-screen {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    @include borders(main-screen);
    width: 800px;
    height: 400px;

    &__confetti {
        width: 100%;
        height: 100%; 
        position: absolute;
    }
}

.welcome-panel, .game-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 10;
    -webkit-transition: color 0.2s ease-in;
    -ms-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;

    @include fonts($welcome-panel-fonts);
}

.game-panel__hint, .game-panel__restart {
    &:hover {
        color: $pink-no-opacity;
        -webkit-transition: color 0.2s ease-in;
        -ms-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in;
    }
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.welcome-panel__btn {
    visibility: hidden;

    &--background {
        width: fit-content;
        letter-spacing: 0.1em;
        border: none;
        border-radius: 8px;
        padding: 0.5em;
        margin-top: 1em;
        background: linear-gradient(-45deg, #43BD99, rgb(89,180,177), rgb(231,98,161), rgb(255,187,64));
        background-size: 400% 400%;
        animation: gradient 1.5s ease infinite; 

        &:hover {
            animation: none; 
        }
    }
}

.game-panel {
    @include fonts($game-panel-fonts);

    &__header {
        margin-top: 2%;
    }

    &__timer {
        position: absolute;
        left: 46%;
    }

    &__top-buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
    }

    &__composition-zone { 
        @include borders(composition-zone);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2% 6%;
        padding: 2%;
    }
}

.game-panel__buttons {
        background: inherit;
        border: none;

        &:hover {
            opacity: 1;
        }
    }

.puzzle-piece {
        min-width: 40px;
        min-height: 40px;
        border-radius: 0.4em;
        transition: background-color 0.3s;

        &--dropzone {
            background-color: rgba(196, 196, 196, 0.15);
            margin: 0.2em; 
        }

        &--drag-drop {
            display: inline-block;
            margin: 1em;
            background: rgb(89,180,177);
            background: linear-gradient(45deg, rgb(89,180,177), #99FFFF);
            box-sizing: border-box;
            touch-action: none;
            transform: translate(0px, 0px);
        }

        &--is-playing {
            box-shadow: inset 0 1px 4px #FFFFCC,0 0 10px #FFFFCC;
        }
    }

.puzzle-piece--correct-position.puzzle-piece--hasBeenPlayed.composition {
    transition: background-color 0.3s;
    background: #A9CB55;
    background: linear-gradient(45deg, #A9CB55, #9DCEA5);
}

.puzzle-piece--incorrect-position.puzzle-piece--hasBeenPlayed.composition {
    transition: background-color 0.3s;
    background: #FF3333;
    background: linear-gradient(45deg, #FF3333, #F39669);
}

.dropzones {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /*margin-top: 1%;
margin-bottom: 1%;
margin-right: 2%;*/
    margin-left: 2%;
    padding: 1%;
    /*border-radius: 0.9em;*/
}

.puzzle-pieces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-left: 15%;
    margin-right: 15%;
}

.play-button {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 12px;
    background: rgb(231,98,161);
    background: linear-gradient(42deg, rgb(231,98,161) 0%, rgb(255,187,64) 100%);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    &__img {
        max-width: 25px;
        margin: auto;

        &--hidden {
            display: none;
        }
    }

    &:disabled {
        cursor: default;
        background: rgba(196, 196, 196, 0.15);
        transition: opacity 0.3s ease-in-out;
    }
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;

    &__btn {
        background-color: inherit;
        padding: 0.5em 1em;
        border-radius: 0.4em;
        font-family: "SpartanBold";
        font-size: medium;
        color: $pink;
        border: solid 0.1em $pink;
        display: flex;
        align-items: center;
        
    }

    &__img {
        margin-left: 1em;
        width: 16px;
        opacity: 0.6;
    }

    &__choices {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
}
   
/* Links inside the dropdown */
.dropdown__choices a {
    background: $color-background;
    text-decoration: none;
    display: block;
    font-family: "SpartanMedium";
    font-size: 0.9em;
    padding: 0.4em 0;
    color: $blue;
  
    &:hover {
        background-color: pastel($blue);
        color: $color-background;
    }
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown__btn {
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    background-color: pastel($pink);
    color: $color-background;
    border: solid 0.1em $color-background;
}

footer {
    z-index: 1000;
    color: $pink;
    text-align: center;

    & > .footer__me {
        font-family: "SpartanExtra";
        font-size: small;
        margin: 0.5em; 

        & > a {
            color: $pink;
            text-decoration: none;
        }
    }

    & > .footer__allrights {
        opacity: 0.5;
        font-family: "SpartanMedium";
        font-size: x-small;
    }
}