@import '_variables.scss';
@import '_mixins.scss';


/*  ============================
    ====== Overall Layout ======
    ============================
*/

body {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
    height: 400px;

    @include borders(main-container);

    &__confetti {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.welcome-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    @include layout($welcome-panel-fonts, "__");
}


.welcome-panel, .game-panel {
    width: 100%;
    height: 100%;
    z-index: 10; 
}


/*  ============================
    ======== Game Panel ========
    ============================
*/

.game-panel { 
    @include layout($game-panel-fonts, "__");

    &__composition-zone {
        @include borders(composition-zone);
        margin: 2% 6%;
        padding: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.game-panel {
    &__header {
        margin-top: 2%;
    }

    &__timer {
        position: absolute;
        left: 46%;
    }

    &__top-buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
    }

    &__btn {
        background: inherit;
        border: none;

        &:hover { 
            transition: color 0.2s ease-in; 
        }
    }
}


/*  ============================
    === Buttons & Animation ====
    ============================
*/


button, a {
    cursor: pointer;
} 

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.welcome-panel__btn--background {

    display:inline-block;
    text-align:center;

    letter-spacing: 0.1em;
    border: none;
    border-radius: 8px;
    padding: 0.5em;
     
    animation: gradient 1.5s ease infinite;

    &:hover {
        animation: none;
    }
}


/*  ============================
    ======= Puzzle Piece =======
    ============================
*/
.dropzones-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 2%;
    padding: 1%;
}

.puzzle-pieces-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 15%;
}

.puzzle-piece {
    min-width: 40px;
    min-height: 40px;
    border-radius: 0.4em;
    
    @include layout($puzzle-pieces-colors, "--");

    &--dropzone {
        margin: 0.2em;
    }

    &--drag-drop {
        margin: 1.5em;
        transform: translate(0px, 0px);
    }
}
// feedback (red/green) when the music is played from the composition area
.puzzle-piece--hasBeenPlayed.composition { 
    @include layout($puzzle-pieces-feedback, ".");
}


/*  ============================
    ======= Play Button ========
    ============================
*/
.play-button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 12px;

    @include layout($play-button-colors, ":"); 
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    &__img {
        max-width: 25px;
        margin: auto;

        &--hidden {
            display: none;
        }
    }

    &:disabled {
        cursor: default;
        transition: opacity 0.3s ease-in-out;
    }
}

/*  =================================
    ======= Overlay end panel =======
    =================================
*/
.overlay {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;


    &__text {
        border: solid 1px;
        border-color: #202020;
        border-radius: 1em;

        margin: auto;
        padding: 3% 6%;
        opacity: 1;
        background-color: $color-background;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        

        & > h3 {
            margin-top: 0.2em;
            margin-bottom: 1.5em;
        }
    }
}

/*  =============================
    ======= Dropdown form =======
    =============================

*/

.dropdown {
    position: relative;
    display: block;
    margin-bottom: 1em;

    @include layout($dropdown-fonts, "__");
    @include layout($dropdown, "__");
     

    &__btn {
        background-color: inherit;
        padding: 0.5em 1em;
        display: flex;
        align-items: center;
    }

    &__img {
        margin-left: 1em;
        width: 16px;
        opacity: 0.6;
    }

    &__choices {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;

        & a {
            text-decoration: none;
            display: block;
            padding: 0.4em 0;
        }
    }
}
 
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover {
      
    & .dropdown__btn {
        transition: background-color 0.2s linear;
        background-color: pastel($pink);
        color: $color-background;
        border: solid 0.1em $color-background;
    }
}


/*  ======================
    ======= Footer =======
    ======================
*/

.footer {
    z-index: 1000;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    @include layout($footer-fonts, "__");

    &__me {
        margin: 0.5em;
    }

    & a {
        color: inherit;
        text-decoration: none;
    }
}